@page "/"

<PageTitle>Login</PageTitle>

<div class="main-content">

    <div class="row login-banner">
        <img src="img/login.png" />
    </div>

    <EditForm Model="loginModel" OnValidSubmit="OnLogin">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <InputText placeholder="Username" @bind-Value="loginModel.Username" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Username)" />
        </div>

        <div class="mb-3">
            <InputText placeholder="Password" @bind-Value="loginModel.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>

        <button type="submit" class="btn btn-primary login-btn">Login</button>
    </EditForm>
</div>
